footer {
  border-top: 1px solid #999;
  padding: 3rem;

  .partners {
    a {
      color: #333;

      &:hover {
        color: #23527c;
        text-decoration: none;
      }
    }

    img {
      max-width:42px;
    }
  }

  .multiline-label {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
  }
}
