footer {
  border-top: 1px solid #999;
  padding: 3rem;

  .social {
    font-size: 42px;
    line-height:42px;
  }

  .logo {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height:42px;
    margin-right: 0.5rem;
    vertical-align:top;
    width:42px;

    &.logo-zpatra {
      background-image:url(<pixmap(logo/zpatra-small.png)>);
    }
  }

  .partners {
    border-right: 1px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1.5rem;

    &:last-child {
      border: none;
      margin-right: 0;
      padding-right: 0;
    }

    a {
      color: #333;
      display: inline-block;
      padding: .5rem;

      &:hover {
        background: #efefef;
        color: #23527c;
        text-decoration: none;
      }
    }

    img {
      max-width:42px;
    }
  }

  .multiline-label {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
  }

  .meanwhile-on-facebook {
    .fb-comments {
      margin:1rem auto;
    }
  }
}
