.frontend.main {
  header .container {
    position: relative;
  }

  .label-date {
    border-radius:0;
    font-size:24px;
    position:absolute;
    right:30px;
    top:90px;

    hr {
      margin: 1rem 0;
    }
  }
}
