.home {
  header {
    height:450px;

    .home-menu {
      .navbar {
        margin-bottom:0;
      }
    }

    .home-above {
      position: absolute;
      top: 0;
      left:0;
      right:0;

      .container {
        position: relative;
      }

      .logo-home {
        background-image: url(<pixmap(logo/zpatra-white.png)>);
        height: 200px;
        left:70px;
        position: absolute;
        top:70px;
        width: 200px;
      }

      .label-date {
        background:rgba(255,255,255,.85);
        color:#000;
        border-radius:0;
        font-size:42px;
        font-style: italic;
        font-weight:normal;
        position:absolute;
        right:10%;
        top:240px;
      }
    }
  }

  .carousel-inner {
    height:400px;
  }

  .carousel .item {
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:400px;

    &#carousel-fila {
      background-image: url(<pixmap(bg/home/fila.jpg)>);
    }

    &#carousel-improvize {
      background-image: url(<pixmap(bg/home/improvize.jpg)>);
    }

    &#carousel-streli {
      background-image: url(<pixmap(bg/home/streli.jpg)>);
    }

    &#carousel-pest {
      background-image: url(<pixmap(bg/home/pest.jpg)>);
    }

    &#carousel-divaci {
      background-image: url(<pixmap(bg/home/divaci.jpg)>);
    }

    &#carousel-experiment {
      background-image: url(<pixmap(bg/home/experiment.jpg)>);
    }

    &#carousel-improv-1 {
      background-image: url(<pixmap(2017/bg/home/improv-1.jpg)>);
    }

    &#carousel-improv-2 {
      background-image: url(<pixmap(2017/bg/home/improv-2.jpg)>);
    }

    &#carousel-improv-3 {
      background-image: url(<pixmap(2017/bg/home/improv-3.jpg)>);
    }

    &#carousel-improv-4 {
      background-image: url(<pixmap(2017/bg/home/improv-4.jpg)>);
    }

    &#carousel-improv-5 {
      background-image: url(<pixmap(2017/bg/home/improv-5.jpg)>);
    }

    &#carousel-improv-6 {
      background-image: url(<pixmap(2017/bg/home/improv-6.jpg)>);
    }

    &#carousel-lee {
      background-image: url(<pixmap(2017/bg/home/lee.jpg)>);
    }

    &#carousel-masks {
      background-image: url(<pixmap(2017/bg/home/masks.jpg)>);
    }

    &#carousel-orgs {
      background-image: url(<pixmap(2017/bg/home/orgs.jpg)>);
    }

    &#carousel-tomas-jirecek {
      background-image: url(<pixmap(2017/bg/home/tomas-jirecek.jpg)>);
    }

    &#carousel-vanda-zako {
      background-image: url(<pixmap(2017/bg/home/vanda-zako.jpg)>);
    }
  }
}
