header {
  &.home {
    background-image: url(<pixmap(bg/home/fila.jpg)>);
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    height:400px;

    .home-menu {
      padding-top:300px;
    }
  }
}
