.container
  .page

    h2 „I have to face people who saw a bad improv show and they think all improv is bad.“ <small>rozhovor s Christophem Jungmannem</small>

    p 2.5.2016

    p.lead Christoph is a professional actor and he is doing the theatre for nearly 30 years. In 1997 he started doing improv with Die Gorillas and also Theatre Sports Berlin. From the beginning he was doing it on a very high level concerning number of performances. Except of improv he is also doing some other theatrical work in Berlin. Since 2001 he organizes international festival in Berlin called IMPROV.

    .row
      .col-md-8.col-lg-6
        p
          strong You started doing improv with the first improv groups in Berlin. Who was your teacher back then?
        p Theatre Sports Berlin was starting in 1995 and in the end of 90´ there was I think about 10 groups in Berlin. Very important teacher for us and the first teacher we took classes from was Randy Dixon from Seattle. He came two times to Germany to teach us. Then we were invited to Seattle to a festival and we made lot of contacts in North America and Europe. To this day we invited to Germany many international teachers to bring us new ideas.

        p
          strong You do not only do the improv kind of acting. Do you think it is usuall for, I would say, „classical“ actors to also do some form of improv?
        p There are colleagues who teach improv at acting schools or universities. I think, it is getting more and more popular to have some improv skills. Sometimes I am wondering why it is not more popular in Germany. It is kind of divided. Improv is more comedy style and kind of light entertainment. Theatre, on the other hand, is more serious scene. The mixture is not as viable as maybe I expected some years ago.

        p
          strong Have you ever tried to make some steps towards connecting these two approaches?
        p Yes, we tried it in our work, in our theatre. We are working on developing different formats. We go this way, but it is hard. It is also a question of what the audience is expecting. Our audience is still expecting more of this entertaining aspect of improv. They want to go out and have a good time with Die Gorillas. See funny quick jokes.

        p
          strong Die Gorillas was founded in 1997, what shows did they do back then?
        p We started with the Gorilla Theatre from Keith Johnstone. It is a format where one actor is playing director, who is directing scenes. You can change the director, so another actor is a director. We formed kind of competition out of this format and we called it Cucumber Banana Show. Director is making a scene and people are voting if it is a good scene, so they shout „banana!“ and if it is a bad scene the people shout „cucumber!“, which is gurke in German. Director with the most bananas wins the competition. We play this since the beginning of Die Gorillas every Saturday night. We are also doing a lot of different shows on Fridan, Tuesday, on Wednesday... But we started with Cucumber Banana Show and we are still doing it.

        p
          strong It is easy to start with improv. Have you ever had the idea, that you should distinguish quality in improv somehow?
        p I think it is not possible. It is a problem we are having in Berlin and we have to face. Many amateurs are just entering the stage without the skills, with not enought respect for the stage. I meet people who have not been on many improv shows and they say: „Oh, I have seen this improv and it was bad...“ Let´s compare this to movies: If you never go to see movies and you go to see your first one and it is bad movie, you would say: „Oh, I will never go to see movies again, they are bad.“ Movies in generall are not bad. All the time I have to face people who saw a bad improv show and they think all improv is bad. But I never heard, that in Germany someone ever tried to make some form of judgement.

        p
          strong Let´s talk about the festival IMPROV, that you do in Berlin. This March you organized 16th in a row. How did the festival start and what was the main thought in the beginning?
        p Festival started in 2001. The main idea is quite obvious. Improv theatre can tear down the borders of different countries and we can show the Berlin audience a form of art where people can come together and play theatre without knowing each other and they just meet on a stage. We are lucky to have a great audience in Berlin, which is open minded. From the beginning the festival was quite successful. Now it is 15 years later and in Berlin lot of things changed. It is such a hype city. So many tourists coming to Berlin. Berlin is more international. In the beginning of our festival people were saying: look, it is an international festival. Now international art events are common in Berlin.

        p
          strong IMPROV is one of the biggest improv festivals in Europe. What is interesting on the festival these days?
        p I think the interesting thing is, that we work on different topics. For 7 or 8 years we have different main topics. This year we have done the festival under three words: Borders, Limits, Liberty. So we were dealing with the problem with all the refugees. We had to focus on a special theme or form of improv. The main point of the festival is still to exchange our ideas and our skills.

        p
          strong The festival is quite big. This year it ran for 10 days?
        p Yes. I think we had 27 show. It is a gift that we can do it in Berlin. People are coming and it allows us to invite performers and lectureurs. On the other hand the competition in Berlin is very high.

        p
          strong If you look into the future of improv, what do you see? What would you like to see?
        p My wish is that improv would be more serious form of theatre, but I think it will stick to this funny part of it. I wish the future were about exploring of what can we reach with this kind od freedom in improv. It is a wide field, but I am not sure if we will be succesful with it.

        p
          strong Could you specify this „wide field?“
        p For example we had a format, where a writer was writing just the first 5 minutes of a play and we continued for the whole piece. This is one example out of hunderds. Or let´s take a beginning of a well known theatre piece, that everybody knows. Then take it´s characters and start a new story with them. Or work on a single piece with the audience for several evenings...
        p You can apply improv on different things. You can try to help or heal people. I will give you an example. There is colleague here in Berlin and his son is autistic. For years this colleague is doing a research in this field and now he is working with improv methods to help his son to open his mind and his body. Theatre in general, and in this case improv, can do more. It is something I am maybe also interested in. In developing this aspect of improv.

        p Rozhovor připravil Pavel Wieser.

      .col-md-4.col-lg-6

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'interviews/christoph-jungmann/christoph-jungmann.jpg'))

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'interviews/christoph-jungmann/robert-munzinger-christoph-jungmann.jpg'))
