.container
  .page

    h1 „Komediant je člověk, který chodí po světě a chce ho udělat lepším“ <small>rozhovor s Janko Polákem</small>

    p 2.5.2016

    p.lead Janko Polák působí ve skupine Flying Freedom Festival, je uměleckým vedoucím spolku Bertram, který se věnuje odkazu Commedie dell&#39;Arte. Janko cestuje s maskami a divadlem po celé Evropě.

    .row
      .col-md-8.col-lg-6
        p
          strong Janko, jak jsi se dostal k tomu, co dnes děláš?

        p Všechno to začalo před 5 lety, kdy jsem se dostal do mezinárodního projektu Masks on Stage. To byl dvouletý evropský program financovaný z nějakého evropského fondu. Bylo tam zapojeno 5 zemí. Česká republika, Francie, Španělsko, Německo a Itálie. Smyslem toho projektu bylo vytáhnout dva lidi z každé té země a společně projet všech těch 5 zemí. V každé té zemi jsme strávili 3 měsíce a pak jsme v létě měli turné. Projekt samotný byl zaměřený na masky v lidových tradicích těch 5 zemí a hodně jsme se věnovali Commedii dell&#39;Arte.

        p
          strong Do té doby jsi s maskama neměl nic společného?

        p Vůbec jsem netušil nic. Já jsem do té doby hrával v Radaru, to je amatérský činoherní soubor, pak jsem byl v Říši loutek, to je takový hodně starý, stoletý soubor, který pracuje s loutkama v Městské knihovně. Měl jsem také období, kdy jsem spolupracoval s Depresivníma dětma, kteří teď sídlí ve Švehlovce. Kromě toho jsem dělal bytové divadlo.

        p
          strong Co bylo, když skončil projekt Masks on Stage?

        p Hlavně jsme přišli na to, že to hraní s maskama je ohromný poklad. Když v létě 2012 projekt skončil, věděl jsem, že s maskami nepostoupím, pokud je nebudu vyučovat. Pokud nebudu společně se studenty hledat. Tak jsem založil spolek Bertram. Dnes mohu říct, že splnil svůj účel. Především také ukázal, že pokud se pod rozumným vedením objeví dostatečně mladý člověk a nepoznamenaný divadlem, tak je schopen přistupovat k tvorbě svobodně. Máme tam tři studenty, kteří jsou s námi od začátku, a kteří jsou schopni svobodné, volné improvizace na jevišti. Největší problém v tomhle je psychický. Ani ne technický, lidi odpustí leccos. Hodně jsem stavěl na tom, abych nebyl hierarchicky nad nimi. Aby tam byla vysoká svoboda. Myslím si, že tito lidé, pokud zůstanou u divadla, budou mít veliký problém podvolit se autoritě režiséra.

        p Herec je dneska jakoby potlačen. Ten skutečný tvůrce inscenace je režisér. Dneska jsme svědky toho, že divadelní inscenace je udělaná jako film. Je to produkt, který je dopředu nazkoušený, přesně se ví, co se bude ve kterém okamžiku dít. Je tam určitá vůle. Jsou určité soubory, které tam nechávají prostor, ale v zásadě ta tendence je taková. V činohře je to úplně katastrofální. Kde má herec z kamenného divadla prostor starat se o diváka? V činohře je představení nalinkované. Já si můžu dovolit přijít před představením k divákům a na scéně se jich zeptat, jak se mají. Můžu se jich zeptat, kolika mluví jazyky. Můžu se jich zeptat, jestli už někdy viděli hru s maskami. Můžu jim říct aby se nebáli. Můžu jim říct, že to bude trvat třeba tři čtvrtě hodiny, a že můžou kdykoliv odejít a zase se vrátit. Můžu je poprosit, aby si nepovídali. Můžu to udělat kdykoliv v tom představení, kdy budu chtít.

        p
          strong Učís v Bertramu tradiční, původní Commedii dell&#39;Arte?

        p Snažím se. Tohle je ale strašne komplikované. Jméno Commedia dell&#39;Arte vzniklo až v 18. století. To znamená v okamžiku, kdy už nic jako Commedia dell&#39;Arte neexistovalo. Lidi tomu říkali Commedia de le maschere, Commedia al´improvviso, Commedia buffonesca. 18. a 19. Století bylo z pohledu Commedie dell&#39;Arte docela prázdné. Rozvíjely se jiné formy. Znovu se to obnovilo až začátkem 20. století. Obnovená tradice existuje v Itálii a ve Francii, tam se hodně drží.

        p
          strong Až tak, že by spolu divadelní soubory žili a kočovali?

        p Jsou projekty, které se takhle dělají, ale je tam jeden zásadní problém v tom, že jejich představení nejsou improvizovaná. Oni si převzali výsledky celého toho 150 letého výzkumu. Převzali kostýmy a převzali generacemi vypracované postavy, fixní charaktery. Ve finále nepřevzali tu improvizaci samotnou.

        p
          strong S Bertramem navazujete na tradici Commedie dell&#39;Arte i v improvizovanosti představení?

        p Ano. V Commedii dell&#39;Arte, jako takové, scénáře neexistují. Tam existuje canovaccio, dá se to přeložit jako osnova. Je to vlastně několik stránek papíru, kde je na začátku napsané jméno hry, pak tam jsou potřebné rekvizity, osoby a jednotlivé scény. A ty jednotlivé scény jsou rozepsané do několika řádků, ku příkladu: Zanni vyjde na jeviště a stěžuje si, jak ho jeho pán bije. Do toho přichází Pulcinella a společně se začnou prát o kachnu. A tím skončí celá ta scéna. Herci to pak naplňovali svým vlastním obsahem, tzn. improvizovali podle nějakých politických daností nebo podle místa, kam přijeli atd.

        p
          strong Z Itálie, kde se Commedia dell&#39;Arte zrodila, se přesunula do Francie a pak do celé Evropy. Commedia dell&#39;Arte stála na začátku dnešního muzikálu, animovaných seriálů... Bart Simpson, to je Arlecchino.

        p Homer Simpson je Zanni, tyhle postavičky jsou staré. Kořeny jdou až někam do antiky.

        p
          strong Co ředitel jaderné elektrárny pan Burns?

        p To je Pantalone jak vyšitý. Využívá přesně ta samá témata...

        p Divadlo je v lidském životě důležité. Mě dalo strašně moc a myslím si, že i pro lidi, kteří se jím nezabývají profesionálně, tak toho hodně dává. Já se sám se nepovažuji za profesionála. Nejsem ani amatér. Nepovažuji se za herce, nejsem ani režisér. Vlastně nejsem ani učitel. Myslím, že to co dělám vystihuje nejlíp slovo komediant. Komediant je člověk, který chodí po světě a chce ho udělat lepším.

        p
          strong Jak člověk skončí zrovna u komediantství, když chce udělat svět lepším?

        p Přes smích se dostává k hlubokým věcem. Můžeš si dovolit říct pravdu. Středověký šašek je komediant a blázen. Je mu to jedno. Je to člověk, který chápe, že život v zásadě nemá nějaký smysl. A pokud nějaký smysl má, tak je to ten, který si vytvoříme sami.

        Rozhovor připravil Pavel Wieser.

      .col-md-4.col-lg-6

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'interviews/janko-polak/maska.jpg'))

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'interviews/janko-polak/title.jpg'))

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'interviews/janko-polak/janko.jpg'))
