.container
  .page
    h1 O festivalu Jebka

    p Zpatra je prvním ročníkem festivalu, jehož ambicí je svést dohromady protagonisty a diváky různých forem improvizačního divadla a propagovat tak svébytnost tohoto druhu umění. Naším dlouhodobým cílem je, aby Praha měla svůj každoroční festival, na který se sjedou improvizátoři z celého světa, aby bavili sebe i diváky, jak je tomu v jiných velkých evropských městech.

    p Festival Zpatra je cílen na širší divadelní veřejnost, které nabídne divácký zážitek formou několika představení, ale i osobní zkušenost s improvizací v podobě workshopů.

    p Divadelní improvizace (ve spojení s hudební, taneční či dokonce výtvarnou improvizací) je fenoménem, který v posledních letech zaznamenal značný rozkvět a rozšířil se napříč všemi generacemi divadelníků. Jednotliví aktéři o sobě někdy navzájem nevědí, stejně tak i jejich diváci nevědí o dalších formách improvizačního divadla. Zpatra je platforma pro setkávání diváků a protagonistů improvizačního divadla prostřednictvím představení jeho rozličných forem.

    p Improvizátorská komunita kladně přijala projekt Zpatra. Spolupracujeme s několika jednotlivci a subjekty na poli improvizace. Volně navazujeme na festival Impro Prague 2013, který uspořádala společnost Impro Institut ve Švandově divadle. Festival je spřátelen též s právě probíhajícím projektem Napříč okamžikem, který pořádá Improliga z.s. v divadle D21.


