.container
  .page
    h1 Účinkující

    .row
      #blr.col-md-6
        h2 Blood, Love & Rhetoric Theatre

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'artists/blr.jpg'))

        p
          a(href="http://www.blrtheatre.com/")
            span.glyphicon.glyphicon-globe
            =' '
            span blrtheatre.com

        p BLR založili v roce 2009 tři lidé - Matthew Blood-Smyth, Jim High a Logan Hillier. Dnes má skupina více jak 10 členů, improvizuje na několika svých pravidelných pražských show a má za sebou i několik inscenací divadelních her, např. od autorů  Antona P. Čechova, Henrika Ibsena či Václava Havla. BLR tvoří hráči z USA, Velké Británie, Kanady, Makedonie i z České Republiky.

      #bertram.col-md-6
        h2 Komediální společnost Bertram

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'artists/bertram.jpg'))

        p
          a(href="https://fb.com/Bertram-699262706837596/")
            span.fa.fa-facebook-square
            =' '
            span Bertram na Facebooku

        p Komediální společnost Bertram se pod uměleckým vedením Janko Poláka věnuje odkazu komedie dell´arte.

        p V komedii dell´arte vystupují ustálené charaktery - sluhové, páni a milenci. Herci vystupují v maskách a znalí diváci už podle masek poznají, o jakou postavu se jedná. Herci si dopředu obyčejně domluví jen zápletku a konec příběhu a veškeré dialogy jsou improvizované.

        p Komedie dell´arte se nejvíce hrála v letech 1570 až 1650. Původem je z Itálie a hráli ji především kočovné herecké společnosti, takže ovlivnila dramatiky prakticky v celé Evropě.


    .row
      #theCrumbs.col-md-6
        h2 The CRUMBS

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'artists/lee-white.jpg'), title="Lee White z The Crumbs")

        p
          a(href="http://crumbscomedy.blogspot.cz/")
            span.glyphicon.glyphicon-globe
            =' '
            span Stránky souboru

        p Pozvání na festival ZPATRA přijal Lee White z kanadského dua the Crumbs, které od roku 1997, kdy bylo založeno, procestovalo se svými vystoupeními velkou část Evropy a Severní Ameriky. The Crumbs se zaměřují na dlouhé improvizované příběhy, tzv. longformy.

      #impra.col-md-6
        h2 IMPRA

        .thumbnail
          img(src=$ren->link_resource('pixmap', 'artists/impra.jpg'))

        p
          a(href="https://fb.com/hereckaimprovizace")
            span.glyphicon.glyphicon-globe
            =' '
            span IMPRA na Facebooku

        p Divadelní představení bez scénáře, bez předem zvoleného tématu, bez přípravy. Vše vzniká až na místě mezi dvojicí mladých herců Hannym Firlou a Ondřejem Králem, za doprovodu ruského kytarového mistra Igora Ochepovskeho. Herecké improvizační trio oceněné studentskou Thálií za rok 2015.

    .row
      #dieGorillas.col-md-6
        h2 Die Gorillas

        p
          a(href="http://die-gorillas.de/")
            span.glyphicon.glyphicon-globe
            =' '
            span Stránky souboru

        p Na domácí půdě jsou v Berlíně, kde také od roku 2001 pořádají každoroční festival improvizačního divadla. Letošní ročník “IMPRO 2016” byl tedy již 15. v řadě.

        p Skupina Die Gorillas vznikla v roce 1997 a v současné době její ansámbl čítá 15 herců.
