.container
  .page
    h1 Kontakty

    hr

    h2 Všeobecné dotazy
    address
      a(href="mailto:info@zpatra.cz") info@zpatra.cz

    h2 Marketing a PR
    address
      strong Markéta Vlková
      br
      a(href="mailto:marketa@zpatra.cz") marketa@zpatra.cz
      br
      | +420 737 483 001


    h2 Péče o účinkující
    address
      strong Pavel Wieser
      br
      a(href="mailto:pavel@zpatra.cz") pavel@zpatra.cz
      br
      | +420 732 964 959

