.container
  h1 Novinky


  h2 Z 1. patra házíme vlaštovky: Kamarádi nacvičených scének, Die Gorillas (DE) a další

  p Během dvou dnů vystoupí několik českých i zahraničních improvizačních celků a my už mám několik potvrzených! Z českých luhů a hájů se už teď můžete těšit na Kamarády nacvičených scének (improvizační show) nebo Bertram (comedia dell’arte), ze světa k nám míří berlínští Die Gorillas (http://www.die-gorillas.de/launch.html) a spojovacím článkem budiž mezinárodní projekt působící v Praze: Blood Love & Rhetoric Comedy Improv.

  h2 Festival Zpatra bude! Víme kdy a trochu i kde!

  p Dvoudenní festival divadelní improvizace Zpatra se uskuteční 17.-18. června 2016, tak si to zapiště do diářů! Páteční večer proběhne v úžasnejch prostorách Paláce Akropolis, dějiště sobotního dne i večera se dozvíte brzy.

