.container-fluid
  section.row.page
    .col-md-6.col-lg-7
      h1 Novinky

      hr

      h2 „Komediant je člověk, který chodí po světě a chce ho udělat lepším“ <small>rozhovor s Janko Polákem</small>

      .row
        .col-md-8
          p Janko Polák působí ve skupine Flying Freedom Festival, je uměleckým vedoucím spolku Bertram, který se věnuje odkazu Commedie dell&#39;Arte. Janko cestuje s maskami a divadlem po celé Evropě.
          p
            a.btn.btn-primary(href=$ren->url('news:janko-polak')) Přečíst celý rozhovor
        .col-md-4
          .thumbnail
            img(src=$ren->link_resource('pixmap', 'interviews/janko-polak/title.jpg'))


      h2 Improvizační jam v předvečer festivalu!

      p Berlínští Die Gorillas souhlasili se svou účastí na improvizačním jamu, který se rozjede v pátek večer! Improvizátoři všech měst a zemí spojte se! Zaimprovizujte si formy, které normálně nehrajete s improvizátory, které neznáte! Bude to zkrátka totální improvizace, kterou jsme odkoukali ze zahraničních festivalů. Diváckým fajnšmekrům samozřejmě též přístupno.


      h2 Z1.PATRA házíme vlaštovky!

      p Během jednoho vystoupí několik českých i zahraničních improvizačních celků a my už mám několik potvrzených! Z českých luhů a hájů se můžete těšit na IMPRA nebo Bertram (commedia dell’arte), ze světa k nám míří berlínští Die Gorillas a spojovacím článkem budiž mezinárodní projekt působící v Praze: Blood Love & Rhetoric Comedy Improv.
      p
        a.btn.btn-primary(href=$ren->url('artists')) Více o účinkujících

    .col-md-6.col-lg-5
      h2 Co to je?

      p Festival improvizačního divadla jehož cílem je svést dohromady protagonisty a diváky různých forem improvizačního divadla.

      hr

      h2 Kde to bude?

      .info
        a(href="http://altart.cz")
          strong Studio ALTA
        br
        | U Výstaviště 21, Praha 7
        br
        a(href="https://www.google.cz/maps/place/U+Výstaviště+1286%2F21,+170+00+Praha+7-Holešovice/") ukaž na mapě

      hr

      .info
        a.btn.btn-primary(href=$ren->url('tickets')) Vstupenky zde

