.container
  section.row.page
    .col-md-8
      h1 Novinky

      hr

      h2 „Komediant je člověk, který chodí po světě a chce ho udělat lepším“ <small>rozhovor s Janko Polákem</small>

      .row
        .col-md-8
          p Janko Polák působí ve skupine Flying Freedom Festival, je uměleckým vedoucím spolku Bertram, který se věnuje odkazu Commedie dell&#39;Arte. Janko cestuje s maskami a divadlem po celé Evropě.
          p
            a.btn.btn-primary(href=$ren->url('news:janko-polak')) Přečíst celý rozhovor
        .col-md-4
          .thumbnail
            img(src=$ren->link_resource('pixmap', 'interviews/janko-polak/title.jpg'))


      h2 Improvizační jam v předvečer festivalu!

      p Berlínští Die Gorillas souhlasili s improvizačním jamem, který se rozjede v pátek večer! Improvizátoři všech měst a zemí spojte se! Zaimprovizujte si formy, které normálně nehrajete s improvizátory, které neznáte! Bude to zkrátka totální improvizace, kterou jsme odkoukali ze zahraničních festivalů. Diváckým fajnšmekrům samozřejmě též přístupno.


      h2 Z1.PATRA házíme vlaštovky!

      p Během jednoho vystoupí několik českých i zahraničních improvizačních celků a my už mám několik potvrzených! Z českých luhů a hájů se můžete těšit na IMPRA nebo Bertram (commedia dell’arte), ze světa k nám míří berlínští Die Gorillas a spojovacím článkem budiž mezinárodní projekt působící v Praze: Blood Love & Rhetoric Comedy Improv.
      p
        a.btn.btn-primary(href=$ren->url('artists')) Více o účinkujících


    .col-md-4
      h2 Kde to bude?

      .info
        strong Název místa
        br
        a(href="#") odkaz na mapu

      h2 Vstupenky

      .info
        a(href=$ren->url('tickets')) Vstupenky zde
