.container
  section.row.page
    .col-md-8
      h1 Novinky

      h2 Z 1. patra házíme vlaštovky: <small>Kamarádi nacvičených scének, Die Gorillas (DE)</small>

      p Během dvou dnů vystoupí několik českých i zahraničních improvizačních celků a my už mám několik potvrzených! Z českých luhů a hájů se už teď můžete těšit na Kamarády nacvičených scének (improvizační show) nebo Bertram (comedia dell’arte), ze světa k nám míří berlínští Die Gorillas (http://www.die-gorillas.de/launch.html) a spojovacím článkem budiž mezinárodní projekt působící v Praze: Blood Love & Rhetoric Comedy Improv.

    .col-md-4
      h2 Kde to bude?

      .info
        strong Název místa
        br
        a(href="#") odkaz na mapu

      h2 Vstupenky

      .info
        a(href=$ren->url('tickets')) Vstupenky zde
