.container
  .page
    h1 Organizátoři

    .row
      .col-md-6
        .col-sm-4
          img.img-responsive.img-circle(src=$ren->link_resource('pixmap', 'orgs/pavel.jpg'))

        .col-sm-8
          h2 Pavel Wieser

          p „Improvizační divadlo je pro mě tvořivá kratochvíle i velmi dobrá cesta, jak se dostat do svých hloubek. Nejvíce mě teď zajímá, jak se liší angličtí hráči od českých hráčů. Jestli není něco z české mentality promítnuto i do toho, jak jsme na jevišti. V organizačním týmu festivalu ZPATRA jsem protože věřím, že improvizace má kladný přesah do života mimo jeviště. Spolu s objevenou svobodou vybízí k převzetí odpovědnosti. Rád bych, aby Praha měla vlastní každoroční festival, na který se sjedou improvizátoři z celého světa.“
          p Pavel dokončuje studium psychologie na FF-UK. Věnuje se hudbě a improvizačnímu divadlu jako hráč a trenér. Profesně se orientuje na vzdělávání a rozvoj lidí.
          p Motto: Kdyby želva byla zajíc, zajícovi by chyběly uši.

      .col-md-6
        .col-sm-4
          img.img-responsive.img-circle(src=$ren->link_resource('pixmap', 'orgs/marketa.jpg'))

        .col-sm-8
          h2 Markéta Vlková

          p Produkce, FB
          p Ahoj, jsem Markéta a mám problém. Jsem trochu workoholik a trochu lenoch. Improvizaci se věnuju od sedmnácti nepřetržitě, divadlu ještě dýl a hudbě asi ještě dýl. Takže jsem například improvizátorka, bakalářka divadelní vědy (ano, bakalářku jsem psala o improvizaci) a basová kytaristka. Nepohrdnu dobrým jídlem, kvalitní kulturou a vyzváním k tanci. Chodím všude pozdě a neustále si přidělávám práci. A to všechno mě dovedlo k tomu, že spoluorganizuju ZPATRA.
          p Chcete-li citátek: “Doesn’t matter where you come from, matters where you go.” (Frank Turner)

    .row
      .col-md-6
        .col-sm-4
          img.img-responsive.img-circle(src=$ren->link_resource('pixmap', 'orgs/danca.jpg'))

        .col-sm-8
          h2 Daniela Bílková

          p Komunikace
          p Ahoj, jsem Danča, která je všude a nikde. Dělám spoustu aktivit, protože nesnáším nudu! Několikátým rokem se věnuji činohernímu divadlu a vždycky jsem měla děsný strach z improvizace! Ale, jakmile jsem k improvizaci přičichla, stala se mojí drogou. Naučila jsem se vystupovat na veřejnosti, nebát se nepřipravenosti, umět se otáčet i komunikovat, chtít poznávat nové lidi a prožívat nečekané okamžiky. Improvizace mi změnila pohled na svět kolem mě! A proto spoluorganizuji festival ZPATRA, který může změnit život i Tobě! Jinak studuji doktorát na chemické škole a Specializaci v pedagogice, jsem hlavní vedoucí na dětském táboře, vedu chemický kroužek, moderuju hudební festival, ráda se učím a vzdělávám, miluju jídlo, jakože fakt!, zelenou, oči, úsměvy, bubliny a tak… :-D

      .col-md-6
        .col-sm-4
          img.img-responsive.img-circle(src=$ren->link_resource('pixmap', 'orgs/rebecca.jpg'))

        .col-sm-8
          h2 Rebecca Vernerová

          p Ahoj já jsem Rebecca a nemám ještě jasno v tom, co budu jednou v životě dělat, tak zkouším dělat všechno. Kromě toho, že dělám impro (hraju, trénuju i lektoruju), dodělávám bakaláře na IES (institut ekonomických studií), pracuji v únikové hře, dělám vedoucí na dětským táboře, jsem taky kapitán. Mám ráda, když mi někdo uvaří, donese kytku nebo řekne, že jsem hezká.

