.container
  .page
    h1 Program

    hr

    h2 Pátek 17. 6.

    h3 Divadlo

    ul.list-unstyled.schedule
      li
        .left-col
          .label.label-default 19:00 - 20:00
        =' '
        | Lee White Show "Your 15 Minutes of Fame",
        =' '
        a(href=$ren->url('artists').'#theCrumbs') The Crumbs, CA
      li
        .left-col
          .label.label-default 20:15 - 21:30
        =' '
        | Otevřený improvizátorský jam. Diváci vítáni.

    hr

    h2 Sobota 18. 6.

    .row
      .col-sm-6.col-md-4
        h3 Kavárna

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-default 14:30 - 14:50
            =' '
            | Bertram
          li
            .left-col
              .label.label-default 15:00 - ?
            =' '
            | Slam Poetry
          li
            .left-col
              .label.label-default 15:40 - 17:00
            =' '
            | Open mic
          li
            .left-col
              .label.label-primary 17:00 - 17:30
            =' '
            a(href=$ren->url('artists').'#bertram') Bertram

      .col-sm-6.col-md-4
        h3 Divadlo

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-default 16:15 - 17:00
            =' '
            | Talkshow s účinkujícími
          li
            .left-col
              .label.label-primary 17:30
            =' '
            | Úvodní slovo
          li
            .left-col
              .label.label-primary 17:45 - 18:30
            =' '
            a(href=$ren->url('artists').'#impra') IMPRA
          li
            .left-col
              .label.label-primary 18:45 - 19:30
            =' '
            | Longformy
          li
            .left-col
              .label.label-primary 20:00 - 20:45
            =' '
            a(href=$ren->url('artists').'#blr') Blood Love Rethorics
          li
            .left-col
              .label.label-primary 21:00 - 22:00
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas

      .col-md-4
        h3 Workshopy

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-warning 10:00 - 13:30
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas
            | , první skupina
          li
            .left-col
              .label.label-warning 10:00 - 13:00
            =' '
            | Masky a Commedia dell' Arte (vede Janko Polák)
          li
            .left-col
              .label.label-warning 14:15 - 17:15
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas
            | , druhá skupina

    hr

    h2 Neděle 19. 6.

    h3 Workshopy

    ul.list-unstyled.schedule
      li
        .left-col
          .label.label-warning 14:00 - 18:00
        =' '
        | The Crumbs, Acceptance (vede Lee White)

    hr

    p Vstupné na odpolední program do 17:30 je zdarma. Vstupné na workshopy se platí zvlášť.

    p
      a.btn.btn-primary(href=$ren->url('tickets')) Vstupenky
