.container
  .page
    h1 Program

    hr

    h2 Pátek 17. 6.

    p Lee White ze světově známého kanadského dua The Crumbs otevře večer svou show, ve které zve na jeviště členy publika a hraje s nimi nepřipravené situace. Divák bez předchozí zkušenosti s vystupováním se také díky Leeho dovednosti 'nechat zazářit partnera' stává hvězdou večera. Your 15 Minutes of Fame vypadá pokaždé úplně jinak, ale vždy se jedná o kouzelnou podívanou, která ukazuje, jak překvapivě snadné je dosáhnout zážitků, které nás budou inspirovat a vybízet k dalšímu otevřenému zkoušení si nových věcí.
    p Následovat bude divadelní improvizátorský jam. Zahrají si spolu nováčci, zkušení improvizátoři z ČR i ze zahraničí – a ty? Stačí přijít a prodrat se na pódium. Na improvizátory bude ovšem dohlížet nekompromisní diktátor. Bude to skvělá podívaná pro improvizátory i pro improvizací zatím nepolíbené diváky!

    h3 Divadlo

    ul.list-unstyled.schedule
      li
        .left-col
          .label.label-default 19:00 - 20:00
        =' '
        a.label.label-danger(href="https://goout.cz/cs/divadlo/lee-white-show+improjam/wekjb/#\"T\":\"17.6.2016_19:00\"")
          span.fa.fa-ticket
          =' '
          | Vstupenky
        =' '
        | Lee White Show "Your 15 Minutes of Fame",
        =' '
        a(href=$ren->url('artists').'#theCrumbs') The Crumbs, Canada
      li
        .left-col
          .label.label-default 20:15 - 21:30
        =' '
        | Otevřený improvizátorský jam. Diváci vítáni.

    hr

    h2 Sobota 18. 6.

    p V sobotu vás čeká pestrý průřez podobami, kterých může divadelní improvizace nabývat. Od rána budou probíhat workshopy a budeme se potkávat v kavárně, kde je připravený skvělý doprovodný program zdarma. Večer je rozdělen do dvou částí – na českou a anglickou. V obou se představí přední improvizační skupiny.

    .row
      .col-sm-6
        h3 Kavárna

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-default 14:30 - 14:50
            =' '
            | Bertram (Commedia dell´Arte)
          li
            .left-col
              .label.label-default 15:00 - 15:30
            =' '
            | Slam Poetry (Pavel Oškrkaný a další)
          li
            .left-col
              .label.label-default 15:30 - 17:00
            =' '
            | Open mic
          li
            .left-col
              .label.label-primary 17:00 - 17:30
            =' '
            a(href=$ren->url('artists').'#bertram') Bertram

      .col-sm-6
        h3 Divadlo

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-default 16:15 - 17:00
            =' '
            | Talkshow s účinkujícími
          li
            .left-col
              .label.label-primary 17:30
            =' '
            | Úvodní slovo
          li
            .left-col
              .label.label-primary 17:45 - 18:30
            a.label.label-danger(href="https://goout.cz/cs/divadlo/vecerni-program-improvizacnich-skupin/afkjb/#\"T\":\"18.6.2016_17:30\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#impra') IMPRA
          li
            .left-col
              .label.label-primary 18:45 - 19:30
            =' '
            a.label.label-danger(href="https://goout.cz/cs/divadlo/vecerni-program-improvizacnich-skupin/afkjb/#\"T\":\"18.6.2016_17:30\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#longformy') Longformy
          li
            .left-col
              .label.label-primary 20:00 - 20:45
            =' '
            a.label.label-danger(href="https://goout.cz/cs/divadlo/vecerni-program-improvizacnich-skupin/afkjb/#\"T\":\"18.6.2016_17:30\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#blr') Blood, Love & Rhetoric
          li
            .left-col
              .label.label-primary 21:00 - 22:00
            =' '
            a.label.label-danger(href="https://goout.cz/cs/divadlo/vecerni-program-improvizacnich-skupin/afkjb/#\"T\":\"18.6.2016_17:30\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas

      .col-sm-12
        h3 Workshopy

        ul.list-unstyled.schedule
          li
            .left-col
              .label.label-warning 10:00 - 13:30
            =' '
            a.label.label-danger(href="https://goout.cz/cs/jine/workshop-characters/rgkjb/#\"T\":\"18.6.2016_10:00\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas
            | , Characters
          li
            .left-col
              .label.label-warning 10:00 - 13:00
            =' '
            a.label.label-danger(href="https://goout.cz/cs/jine/workshop-masky-a-commedia-dell-arte/xgkjb/#\"T\":\"18.6.2016_10:00\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            | Masky a Commedia dell' Arte (Janko Polák)
          li
            .left-col
              .label.label-warning 14:15 - 15:15
            =' '
            a.label.label-danger(href="https://goout.cz/cs/jine/workshop-prvni-seznameni-s-improvizaci/igkjb/#\"T\":\"18.6.2016_14:15\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            | První seznámení s improvizací, ImproInstitut
          li
            .left-col
              .label.label-warning 14:15 - 17:15
            =' '
            a.label.label-danger(href="https://goout.cz/cs/jine/workshop-improv-games-meaningful-or-only-funny/ugkjb/#\"T\":\"18.6.2016_14:15\"")
              span.fa.fa-ticket
              =' '
              | Vstupenky
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas
            | , Improv games - meaningful or „only funny“?

    hr

    h2 Neděle 19. 6.

    h3 Workshopy

    ul.list-unstyled.schedule
      li
        .left-col
          .label.label-warning 14:00 - 18:00
        =' '
        a.label.label-danger(href="https://goout.cz/cs/jine/workshop-listening-and-acceptance/ogkjb/#\"T\":\"19.6.2016_14:00\"")
          span.fa.fa-ticket
          =' '
          | Vstupenky
        =' '
        | The Crumbs, Listening and Acceptance (Lee White)

    hr

    p Vstupné na odpolední program do 17:30 je zdarma. Vstupné na workshopy se platí zvlášť.

    p
      a.btn.btn-primary(href=$ren->url('tickets')) Vstupenky
