.container
  .page
    h1 Program

    h2 Pátek 17. 6.

    p Program připravujeme

    h2 Sobota 18. 6.

    .row
      .col-md-4
        h3 Kavárna

        ul.list-unstyled
          li
            .label.label-default 14:30 - 14:50
            =' '
            | Bertram
          li
            .label.label-default 15:00 - 15:40
            =' '
            | Slam Poetry
          li
            .label.label-default 15:40 - 17:00
            =' '
            | Open mic
          li
            .label.label-default 17:00 - 17:30
            =' '
            | Bertram

      .col-md-4
        h3 Divadlo

        ul.list-unstyled
          li
            .label.label-default 16:15 - 17:00
            =' '
            | Talkshow s účinkujícími
          li
            .label.label-default 17:30
            =' '
            | Úvodní slovo
          li
            .label.label-default 17:45 - 18:30
            =' '
            | IMPRA
          li
            .label.label-default 18:45 - 19:30
            =' '
            | Longformy
          li
            .label.label-default 20:00 - 20:45
            =' '
            | Blood Love Rethorics Comedy Improv
          li
            .label.label-default 21:00 - 22:00
            =' '
            | Die Gorillas

      .col-md-4
        h3 Workshopy

        ul.list-unstyled
          li
            .label.label-default 9:30 - 14:00
            =' '
            | Workshop s Die Gorillas, první skupina
          li
            .label.label-default 10:00 - 13:00
            =' '
            | Workshop Masky a Commedia dell' Arte
          li
            .label.label-default 14:15 - 17:15
            =' '
            | Workshop s Die Gorillas, druhá skupina

    .row
      p Vstupné na odpolední program do 17:30 je zdarma. Vstupné na workshopy se platí zvlášť.

      p
        a.btn.btn-primary(href=$ren->url('tickets')) Vstupenky
