.container
  .page
    h1 Vstupenky

    hr

    .row
      .col-md-6
        h2 Pátek 17.6.
        ul.list-unstyled
          li Lee White Show + Improjam - 120Kč

        h2 Sobota 18.6.
        ul.list-unstyled
          li Česká + anglická část - 390Kč
          li Jen česká část (IMPRA a Longformy) - 200Kč
          li Jen anglická část (Blood, Love & Rhetoric Comedy Improv a Die Gorillas) - 250Kč

        p
          a.btn.btn-primary(href="https://goout.cz/cs/festivaly/zpatra-festival-improvizace/tekjb/")
            span.fa.fa-ticket
            =' '
            | Koupit vstupenky

      .col-md-6
        h2 Tip
        p Vstupenky se kupují zvlášť na každé představení a zvlášť na každý workshop. Dají zakoupit prostřednictvím portálu Goout.cz
