.container
  .page
    h1 Workshopy

    hr

    p.lead Přihlašování na workshopy již brzy spustíme!

    .row
      .col-md-6
        h2
          | Characters
          =' '
          small
            | with Luise Schnittert,
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas

        ul.list-unstyled
          li
            span.fa.fa-calendar
            =' '
            | sobota 18. června 10:00 - 13:30
          li
            span.fa.fa-clock-o
            =' '
            | Délka: 3,5 hodiny
          li
            span.fa.fa-users
            =' '
            | Kapacita: 12
          li
            span.fa.fa-language
            =' '
            | Jazyk workshopu: Angličtina
          li
            span.fa.fa-money
            =' '
            | Cena: 700 Kč

        p Workshop je určen pro mírně pokročilé začátečníky v improvizaci.
        p There is no good improv story without good characters. This workshop concentrates on finding new, interesting, unusual characters. Let's explore how we can use the very personal experiences we made in our own lives, experiences with the people we met and bring them on stage.
        p Luise Schnittert is actress, living in Berlin and member of the Berlin Improv Theatre „Die Gorillas“ for eight years.

        p
          a.btn.btn-primary(href="https://goout.cz/cs/jine/workshop-characters/rgkjb/#\"T\":\"18.6.2016_10:00\"")
            span.fa.fa-ticket
            =' '
            | Koupit vstupenku

      .col-md-6
        h2
          | Masky a commedia dell' arte
          =' '
          small s Jankem Polákem, Flying Freedom Festival

        ul.list-unstyled
          li
            span.fa.fa-calendar
            =' '
            | sobota 18. června 10:00 - 13:00
          li
            span.fa.fa-clock-o
            =' '
            | Délka: 3 hodiny
          li
            span.fa.fa-users
            =' '
            | Kapacita: 10
          li
            span.fa.fa-language
            =' '
            | Jazyk workshopu: Čeština / Angličtina
          li
            span.fa.fa-money
            =' '
            | Cena: 500 Kč

        p Workshop je určen pro začínající a pokročilé improvizátory
        p Poznejte několika staletími pilované charaktery, které se vyskytují v commedii dell' arte. Seznámíte se se základními principy hry s maskou. Zábava zaručena.

        p
          a.btn.btn-primary(href="https://goout.cz/cs/jine/workshop-masky-a-commedia-dell-arte/xgkjb/#\"T\":\"18.6.2016_10:00\"")
            span.fa.fa-ticket
            =' '
            | Koupit vstupenku


    .row
      .col-md-6
        h2
          | Improv games - meaningful or „only funny“?
          =' '
          small
            with Christoph Jungmann,
            =' '
            a(href=$ren->url('artists').'#dieGorillas') Die Gorillas

        ul.list-unstyled
          li
            span.fa.fa-calendar
            =' '
            | sobota 18. června 14:15 - 17:15
          li
            span.fa.fa-clock-o
            =' '
            | Délka: 3 hodiny
          li
            span.fa.fa-users
            =' '
            | Kapacita: 12
          li
            span.fa.fa-language
            =' '
            | Jazyk workshopu: Angličtina
          li
            span.fa.fa-money
            =' '
            | Cena: 700 Kč

        p Workshop je určen pro pokročilé improvizátory.
        p Actually, improv games in improv theatre had the goal to put the performer in positive challenges and break the routine. But since then, some shows turned into being a kind of „Game Show“ entirely. On the other hand some of us are searching for deep and meaningful scenes - what about games in this context? Which game can help us and which is only good enough for a „quick joke“? Let’s explore the full potential of games in improv theatre.
        p
          a.btn.btn-primary(href="https://goout.cz/cs/jine/workshop-improv-games-meaningful-or-only-funny/ugkjb/#\"T\":\"18.6.2016_14:15\"")
            span.fa.fa-ticket
            =' '
            | Kopit vstupenku


      .col-md-6
        h2
          | Listening and acceptance
          =' '
          small
            with Lee White,
            =' '
            a(href=$ren->url('artists').'#theCrumbs') The&nbsp;Crumbs

        ul.list-unstyled
          li
            span.fa.fa-calendar
            =' '
            | neděle 19. června 14:00 - 18:00
          li
            span.fa.fa-clock-o
            =' '
            | Délka: 4 hodiny
          li
            span.fa.fa-users
            =' '
            | Kapacita: 12
          li
            span.fa.fa-language
            =' '
            | Jazyk workshopu: Angličtina
          li
            span.fa.fa-money
            =' '
            | Cena: 900 Kč

        p Workshop je určen pro pokročilé improvizátory.
        p Listening is one of the most important skills an improviser can have, yet too often our scene partner's words and the meanings behind them are neglected. Can we turn down our ego and open our ears and eyes to what is really being said? Yes we can and we will be rewarded with applause. With a focus on listening to our scene partner and accepting their offers this workshop will have you giving more and making your partner look like the star.

        p
          a.btn.btn-primary(href="https://goout.cz/cs/jine/workshop-listening-and-acceptance/ogkjb/#\"T\":\"19.6.2016_14:00\"")
            span.fa.fa-ticket
            =' '
            | Koupit vstupenku


    .row
      .col-md-6
        h2
          | První seznámení s improvizací
          =' '
          small s lektory z Impro Institutu

        ul.list-unstyled
          li
            span.fa.fa-calendar
            =' '
            | sobota 18. června 14:15 - 15:15
          li
            span.fa.fa-clock-o
            =' '
            | Délka: 60 minut
          li
            span.fa.fa-users
            =' '
            | Kapacita: 16
          li
            span.fa.fa-language
            =' '
            | Jazyk workshopu: Čeština
          li
            span.fa.fa-money
            =' '
            | Cena: Zdarma

        p Workshop je určen pro zájemce, kteří zatím improvizaci nezkoušeli
        p Ochutnávka aplikované improvizace. Co to je? Využívání principů improvizačního divadla ve vašem životě tak, abyste byli tvořivější, svobodnější a schopnější lépe spolupracovat a navazovat vztahy.

        p
          a.btn.btn-primary(href="https://goout.cz/cs/jine/workshop-improv-games-meaningful-or-only-funny/ugkjb/#\"T\":\"18.6.2016_14:15\"")
            span.fa.fa-ticket
            =' '
            | Koupit vstupenku
