doctype html
html(lang=$loc->get_lang())
  head
    link(rel='stylesheet', type='text/css', href=$ren->link_resource('style', 'screen'))
    script(src=$ren->link_resource('script', 'main'))

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Zpatra - Festival divadelní improvizace")
    meta(name="viewport", content="width=device-width")

    meta(name="og:title", content=$res->title)
    meta(name="og:type", content="website")
    meta(name="og:description", content="Zpatra je festival divadelní improvizace pro veřejnost.")
    meta(name="og:image", content='http://'.$rq->host.\System\Resource::get_url('static', 'pixmap', 'og-share.jpg'))
    meta(name="og:url", content=$rq->path)

    :php
      $ren->slot('og')

    :php
      $ren->content_for('title', $res->title);
      $ren->content_from('head');

  body
    #fb-root
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.6&appId=581089655273237"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>

    .base-wrapper
      :php
        $ren->render_yield();
        $ren->slot();

    footer
      .container
        .row
          .col-sm-6
            .social
              a(href=$ren->url('home'))
                span.logo.logo-zpatra

              a(href="https://fb.com/festivalzpatra")
                span.fa.fa-facebook-official

          .col-xs-12.col-sm-6.text-right
            | Pražský festival improvizačního divadla Zpatra
            br
            a(href="mailto:info@zpatra.cz") info@zpatra.cz

        hr

        .row
          .col-xs-12
            .pull-left.partners
              h4 Partneři

              .partners-box
                a(href="http://improliga.cz")
                  img(src=$ren->link_resource('pixmap', 'logo/improliga.png'))
                  =' '
                  .multiline-label
                    | Improliga

                a(href="http://improinstitut.cz")
                  img(src=$ren->link_resource('pixmap', 'logo/impro-institut-small.png'))
                  =' '
                  .multiline-label
                    | Impro Institut


            .pull-left.partners
              h4 Festival podpořili
              .partners-box
                a(href="http://improinstitut.cz")
                  img(src=$ren->link_resource('pixmap', 'logo/nzu-small.png'))
                  =' '
                  .multiline-label
                    | Nadace život umělce

        hr

        .text-center.meanwhile-on-facebook
          h4 Mezitím na Facebooku

          .fb-page(data-href="https://www.facebook.com/festivalzpatra/", data-tabs="timeline", data-small-header="true", data-adapt-container-width="true", data-width="640", data-hide-cover="true", data-show-facepile="true")

    include ../partial/ga.jade
