.frontend.home
	header
		.container.home-menu
			.label.label-date
				| 17. - 19.
				br
				| Äervna 2016
			include ../partial/navbar.jade

	.content
		:php
			$ren->render_yield();
			$ren->slot('outer');
			$ren->slot();
